@import "tailwindcss";

@theme {
  /* Paleta de Cores Customizada - EB Bijuterias */
  --color-brand-gold: #C8A261;
  --color-brand-gold-hover: #b28d4d;
  --color-brand-bg: #FBF8F3;
  --color-brand-chocolate: #2B2118;
  --color-brand-creme: #F2EAE1;

  
  --font-sans: var(--font-geist-sans), System-ui, sans-serif;
  --font-serif: "Playfair Display", Georgia, serif;
}

/* configuração do fundo e texto padrão da loja */
body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-chocolate);
  font-family: var(--font-sans);
}